/* Space Grotesk Variable Font */
@font-face {
    font-family: 'Space Grotesk Variable';
    src: url('/fonts/Fonts/TTF/SpaceGrotesk-Variable.ttf') format('truetype-variations'),
        url('/fonts/Fonts/WEB/fonts/SpaceGrotesk-Variable.woff2') format('woff2-variations'),
        url('/fonts/Fonts/WEB/fonts/SpaceGrotesk-Variable.woff') format('woff-variations');
    font-weight: 300 700;
    font-style: normal;
}

/* Space Grotesk Static Fonts */
@font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/Fonts/OTF/SpaceGrotesk-Light.otf') format('opentype'),
        url('/fonts/Fonts/WEB/fonts/SpaceGrotesk-Light.woff2') format('woff2'),
        url('/fonts/Fonts/WEB/fonts/SpaceGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/Fonts/OTF/SpaceGrotesk-Regular.otf') format('opentype'),
        url('/fonts/Fonts/WEB/fonts/SpaceGrotesk-Regular.woff2') format('woff2'),
        url('/fonts/Fonts/WEB/fonts/SpaceGrotesk-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/Fonts/OTF/SpaceGrotesk-Medium.otf') format('opentype'),
        url('/fonts/Fonts/WEB/fonts/SpaceGrotesk-Medium.woff2') format('woff2'),
        url('/fonts/Fonts/WEB/fonts/SpaceGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/Fonts/OTF/SpaceGrotesk-SemiBold.otf') format('opentype'),
        url('/fonts/Fonts/WEB/fonts/SpaceGrotesk-SemiBold.woff2') format('woff2'),
        url('/fonts/Fonts/WEB/fonts/SpaceGrotesk-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/Fonts/OTF/SpaceGrotesk-Bold.otf') format('opentype'),
        url('/fonts/Fonts/WEB/fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
        url('/fonts/Fonts/WEB/fonts/SpaceGrotesk-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}